<!DOCTYPE HTML>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<blc:head pageTitle="Account - Active Discounts - smart way to buy online" />

<body>
    <div id="notification_bar"></div>
    <header th:substituteby="layout/partials/header" />
    
    <div id="content" class="width_setter group" role="main">
        <section id="left_column">
            <nav th:substituteby="layout/partials/nav" />
        </section>
        <section id="right_column">
            <nav th:substituteby="layout/partials/search" />
            <div class="manage-account-container clearfix">
    
                <h1>Account Options</h1>
                
                <ul th:substituteby="account/partials/accountMenu" />
                
                <div th:substituteby="${templateName}" />
    
            </div>
        </section>  
    </div>
    
    <footer th:substituteby="layout/partials/footer" />
    
</body>
</html>